asgiref==3.11.0
certifi==2026.2.25
charset-normalizer==3.4.7
Django==5.2.10
django-admin-sortable2==2.3.1
django-tinymce==5.0.0
environs==14.6.0
idna==3.11
marshmallow==4.2.2
pillow==12.1.0
python-dotenv==1.2.1
requests==2.33.1
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3